<h1>Create an Adoption!</h1>
<form method='post' action="/display_puppy">
    <p>Enter a name: <input type='text' name='name'></p>
    <p>Enter a breed: <input type='text' name='breed'></p>
    <p>Enter an age: <input type='text' name='age'></p>
    <p><input type='submit' id='submit'></p>
</form>
