<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>Enter your puppies details</h1>
        <form method="POST" action="/" name="form">
            <p>Name: <input type="text" name="name"></p>
            <p>Breed: <input type="text" name="breed"></p>
            <p>Age: <input type="text" name="age"></p>
            <input type="submit" value="submit" id="submit">
        </form>
    </body>
</html>