<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Puppy</title>
</head>
<body>

    <h1>Create Puppy</h1>
    <form action="/new" method='post'>
        <p>Name:</p><input type="text" name="name">
        <p>Breed:</p><input type="text" name="breed">
        <p>Age:</p><input type="text" name="age">
        <input type="submit" id="submit">
    </form>

</body>
</html>