<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= @puppy.name %></title>
  </head>
  <body>
    <p>Name: <%= @puppy.name %></p>
    <p>Breed: <%= @puppy.breed %></p>
    <p>Age: <%= @puppy.age %></p>
    <br>
    <p><a href="/index">Back to index</a></p>
  </body>
</html>
