<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Adoption Centre - Display Puppy</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>

  <body>
    <h1>Puppy Info</h1>

    <p>Name: <%=@puppy.name %></p>
    <p>Age: <%=@puppy.age %></p>
    <p>Breed: <%=@puppy.breed %></p>



  </body>
</html>