<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome</h1>
    <%= @puppies %>
    <p><a href="/puppies/new">Click Here To List A Puppy</a></p>
  </body>
</html>
